# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/
activity-platform/node_modules/

# Build
dist/
dist-ssr/
build/
activity-platform/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?